{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}AnimalDex{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.16/css/uikit.min.css" />
    <style type="text/css">
        #location {
            /*width: 100vw;*/
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>

    <div class="container" id="location" style="margin: 0 auto">
        <!-- <h3>You are at {{location}}.</h2> -->
        <h3 id="late"></h3>
        <h3 id="longi"></h3>
        <h3 id="address">You are at: </h3>
    </div>

    <div class="container">
        <div class="row">
            {% for animal in object_list %}
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a class="" href="{{animal.get_absolute_url}}" data-caption="Caption 2">
                    <img src="{% static 'img/elep1.jpg' %}" alt="">
                    <h3>{{ animal.name }}</h1>
                </a>
            </div>
            {% endfor %}
        </div>

    </div>

    <script>
        // Note: This example requires that you consent to location sharing when
        // prompted by your browser. If you see the error "The Geolocation service
        // failed.", it means you probably did not give permission for the browser to
        // locate you.
        var map, infoWindow;
        function initMap() {
            // map = new google.maps.Map(document.getElementById('map'), {
            //   center: {lat: 24, lng: 78},
            //   zoom: 12
            // });
            // infoWindow = new google.maps.InfoWindow;

            var geocoder = new google.maps.Geocoder;
            var formattedAdd = '';
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    geocoder.geocode({ 'location': pos }, function (results, status) {
                        if (status === 'OK') {
                            if (results[0]) {
                                // map.setZoom(11);
                                // var marker = new google.maps.Marker({
                                //     position: latlng,
                                //     map: map
                                // });
                                // infowindow.setContent(results[0].formatted_address);
                                // infowindow.open(map, marker);
                                // alert(results[0].formatted_address);
                                var address = document.getElementById('address');
                                address.innerHTML += results[0].formatted_address;
                                console.log(results[0].formatted_address);
                                formattedAdd=results[0].formatted_address;
                            } else {
                                window.alert('No results found');
                            }
                        } else {
                            window.alert('Geocoder failed due to: ' + status);
                        }
                    });
                    // alert(pos.lat);
                    // var late = document.getElementById('late');
                    // var longi = document.getElementById('longi');
                    // late.innerHTML += pos.lat;
                    // longi.innerHTML += pos.lng;
                    // infoWindow.setPosition(pos);
                    // infoWindow.setContent('Location found.');
                    // infoWindow.open(map);
                    // map.setCenter(pos);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
                alert("HGshgw!");
            }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBi6iaazcV0ehS0UrwnKJmR6PY-diKOz_c&callback=initMap"></script>

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.16/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.16/js/uikit-icons.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>